<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Page.Title }}</title>
  <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ "favicon.ico" | relURL }}">
  <link rel="manifest" href="{{ "manifest.webmanifest" | relURL }}">
  <meta name="theme-color" content="#fff5d1">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author.name }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="robots" content="index, follow">
  {{ with (templates.Defer (dict "key" "global")) }}
  {{ partial "css.html" . }}
  {{ end }}
</head>

<body class="bg-[#fff5d1] font-main text-lg md:text-2xl max-w-4xl mx-auto min-h-screen flex flex-col justify-between">
  <!-- Header -->
  <header class="pt-6 md:pt-8 pb-4 px-4 sm:px-6 w-full">
    <div>
      <!-- Judul Utama: Responsif dari HP (text-3xl) hingga Desktop (text-6xl) -->
      <h1 class="text-3xl sm:text-4xl md:text-6xl font-medium tracking-wide uppercase mb-1 wrap-break-words">
        <a href="{{ .Site.BaseURL }}" class="">
          {{ site.Params.author.name }}
        </a>
      </h1>

      <!-- Tagline / Subtitle -->
      <p class="text-xs sm:text-sm md:text-base font-normal text-zinc-800 mb-4">
        Tuhan bersama orang-orang santai
      </p>

      <!-- Menu Navigasi: Rapi di layar kecil dan besar -->
      <nav class="flex flex-wrap items-center gap-x-2 text-base md:text-xl">
        <a href="/about" class="hover:underline">about</a>
        <span class="text-zinc-400">|</span>
        <a href="/blog" class="hover:underline">blog</a>
        <span class="text-zinc-400">|</span>
        <a href="#" class="hover:underline">tags</a>
      </nav>
    </div>
    <hr class="border-b border-black my-4 md:my-6">
  </header>

  <!-- Main Content -->
  <main class="w-full pt-4 md:pt-8 pb-4 px-4 sm:px-6 grow">
    {{ block "main" . }}{{ end }}
  </main>

  <!-- Footer -->
  <footer class="w-full mt-auto">
    <div class="px-4 sm:px-6 py-4 md:py-6 text-center text-sm md:text-base">
      <hr class="border-b border-black mb-4 md:mb-6">
      &copy; 2026 - Deo. 🌱 with ❤️‍🔥 from 🌏
    </div>
  </footer>

  {{ partial "page-size.html" . }}
</body>
{{ if .Params.math }}
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ with resources.Get "js/mathjax.js" }}
<script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ end }}
</html>